// _sass/color_schemes/bordo.scss

$bordo: #800000;

// Colores de énfasis
$link-color: $bordo;
$btn-primary-color: $bordo;

// Sidebar
$sidebar-background-color: $bordo;
$sidebar-color: #ffffff;
$sidebar-border-color: darken($bordo, 10%);
