// _sass/color_schemes/bordo.scss

$bordo: #7b241c;

// Colores de énfasis
$link-color: $bordo;
$btn-primary-color: $bordo;

// Sidebar
$sidebar-background-color: $bordo;
$sidebar-color:   #f8f9f9;
$sidebar-border-color: darken($bordo, 10%);
